* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

h1,
h2,
h3 {
  color: rgb(55, 55, 55);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

body {
  font-family: "Lato", sans-serif;
}

.App {
  transition: all 0.35s ease;
}

.library-active {
  margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
